body {
  background: #eee;
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)*/
}

main {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

canvas {
  border-radius: 0.5em;
}
.canvas canvas {
  display: block;
}
